* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.5;
}

header {
    width: 80%;
    margin: 0 auto;
    height: 29.46px;
    margin-top: 35.02px;
    top: 35.02px;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* .hero-img {
  position: absolute;
  top: 0;
  z-index: -1;
} */

.hero {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
    background-image: url('Images/Object.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -69.46px;
}

.get-schooled {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    padding-top: 150px;
}

h1 {
    font-size: 120px;
    color: #FFFFFF;
}

.expression-wrapper {
    display: inline-block;
}

.expression {
    margin-right: 60px;
}

.expression:last-child {
    margin-right: 0;
}

span {
    color: #FFFFFF;
}

button {
    color: #FFFFFF;
    background-color: #C271FF;
    padding: 17px 20px;
    border-radius: 40px;
    border-style: none;
    margin-top: 40px;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
}

.learn {
    color: #C271FF;
    font-weight: bold;
}

.the-pros {
    margin-top: 150px;
}

.profile-section {
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    margin-top: 100px;
}

.profile {
    margin-right: 100px;
    max-width: 150px;
    text-align: center;
}

.profile:last-child {
    margin-right: 0;
}

#profile-3 {
    border-radius: 50%;
}

.banner {
    background-color: #C271FF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 100px;
}

.name {
    margin-top: 30px;
}

.tutorial-heading {
    color: #071629;
    margin-top: 50px;
}

.tutorial-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 70px auto;
}

.tutorial-one {
    width: 250px;
    /* margin-right: 20px; */
}

/* .tutorial-one:last-child {
    margin-right: 0;
} */

.stars {
    display: flex;
}

.phillip-description {
    display: flex;
    margin-top: 15px;
}

.phillip-img {
    width: 30px;
    margin-right: 15px;
}

.stars-description {
    display: flex;
    justify-content: space-between;
}

.free-membership {
    background-color: #071629;
    color: #FFFFFF;
    text-align: center;
    padding: 80px 20px;
    margin-top: 100px;
}

.membership-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.FAQ {
    margin: 100px 200px;
    color: #071629;
    text-align: center;
}

.faq-heading {
    font-size: 32px;
    font-weight: 300;
    color: #071629;
}

.faq-content {
    display: flex;
    gap: 180px;
    margin-top: 50px;
    text-align: left;
}

.faq-details {
    margin-top: 15px;
}

footer {
    background-color: #071629;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 20px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}