body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse; /* Removes double borders */
}

th, td {
  padding: 10px;
  border: 1px solid #333; /* Adds borders */
  text-align: left;
}


th {
  background-color: #444;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra stripes */
}
